<!--<div class="ad-container">
    <div class="ad-label">Publicidad</div>
    <div class="ad-content">
      <div class="ad-text">
        <h4>{{ site.data.ads[0].title }}</h4>
        <p>{{ site.data.ads[0].description }}</p>
        <a href="{{ site.data.ads[0].url }}" class="ad-link" target="_blank" rel="noopener">{{ site.data.ads[0].cta }}</a>
      </div>
    </div>
  </div>-->
  <div class="ad-container">
    <div class="ad-label">Información</div>
    <div class="ad-content">
      <div class="ad-text">
        <h4>Actualizacion</h4>
        <p>Estamos actualizando el sitio, disculpe las molestias.</a>
      </div>
    </div>
  </div>